<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <a href="/tareas-admin" class="btn btn-link float-start">Volver</a>
                    <span class="titulo">LISTADO DE TODOS LOS USUARIOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-admin-trabajador">NUEVO ADMIN - TRABAJADOR</button>
                    <table *ngIf="listaUsuarios.length > 0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Nombre y Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">DNI</th>
                                <th scope="col">Domicilio</th>
                                <th scope="col">Licencia de Conducir</th>
                                <th scope="col">Fecha de Registro</th>
                                <th scope="col">Alquileres</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let usuario of listaUsuarios">
                                <tr>
                                <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.rol }}</td>
                                <td>{{ usuario.telefono }}</td>
                                <td>{{ usuario.dni }}</td>
                                <td>{{ usuario.direccion }}</td>
                                <td>
                                    <span *ngIf="usuario.rol === 'usuario'" >{{usuario.licenciaConductor}}</span> 
                                </td>
                                <td>{{ usuario.fechaRegistro | date: 'dd/MM/yyyy ' : '-00:00' }}</td>
                                <td>
                                    <button *ngIf="usuario.rol === 'usuario'" (click)="usuario.mostrarDetalles = !usuario.mostrarDetalles" class="btn-main btn-black">
                                        {{ usuario.mostrarDetalles ? 'Ocultar' : 'Ver Alquileres' }}
                                    </button>
                                </td>
                                <td>
                                    <i *ngIf="usuario.rol === 'administrador' || usuario.rol === 'trabajador'"
                                        [routerLink]="['/editar-admin-trabajador', usuario._id]" class="fas fa-edit text-primary"></i>
                                    <i *ngIf="usuario.rol === 'administrador' || usuario.rol === 'trabajador'" (click)="deleteUsuario(usuario._id)"
                                        class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                            <tr *ngIf="usuario.mostrarDetalles">
                                <td colspan="10" style="padding: 20px;">
                                    <h6>Alquileres</h6>
                            
                                    <div style="display: flex;">
                            
                                        <div style="width: 100%;">
                            
                                            <div class="alquilereslist" style="display: grid; gap: 10px">
                                                <table *ngIf="usuario.alquileres" class="table table-striped mt-3">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">ID</th>
                                                            <th scope="col">Auto</th>
                                                            <th scope="col">Fecha de Inicio</th>
                                                            <th scope="col">Fecha de Fin</th>
                                                            <th scope="col">Precio Total</th>
                                                            <th scope="col">Sucursal de Entrega</th>
                                                            <th scope="col">Sucursal de Devolucion</th>
                                                            <th scope="col">Estado del Alquiler</th>
                                                
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let alquileres of usuario.alquileres">
                                                            <td>{{ alquileres._id }}
                                                            <td>{{ alquileres.auto.modeloAuto.nombreModelo }}
                                                            <td>{{ alquileres.fechaInicio | date: 'dd/MM/yyyy HH:mm' : '-00:00'}}
                                                            <td>{{ alquileres.fechaFin | date: 'dd/MM/yyyy HH:mm' : '-00:00'}}
                                                            <td>$ {{ alquileres.precioTotalAlquiler | number: '1.0-0'}}
                                                            <td>{{ alquileres.sucursalEntrega.nombreSucursal}}
                                                            <td>{{ alquileres.sucursalDevolucion.nombreSucursal }}
                                                            <td>{{ alquileres.estadoAlquiler}}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <label *ngIf="!usuario.alquileres">No hay alquileres para mostrar></label>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listaUsuarios.length == 0">No hay usuarios
                        para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>