section {
  padding: 30px 0px;
}

.breadcrumb-container {
  background-color: #f0f0f0;
  margin-bottom: 30px;
}

.breadcrumb {
  padding: 1rem 0rem;
  font-size: 0.9rem;
  color: #666;
  max-width: 1300px;
  margin: auto;
}

.breadcrumb h6{
  margin: 0px;
}

.breadcrumb a {
  color: #dbb700;
  text-decoration: none;
}

.form-section {
  margin-right: 2rem;
  border-radius: 10px;
  width: 70%;
}

.info-text {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f1f1f1;
  border-left: 4px solid #dbb700;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input:disabled{
  background: #f1f1f1 !important;
  background-color: #f1f1f1 !important;
}

label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #333;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.25rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.terms {
  margin-top: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  color: #dbb700;
}

.reservation-summary {
  padding: 0px 30px;
  margin: 20px;
  width: 30%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

.reservation-summary-top{
  padding: 10px 0px;
}

.summary-item:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}
.summary-item p span{
  color: #727272;
}

.total-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: right;
}

.total-price .price-list h6{
  font-weight: 400;
  color: #ffffff;
}

.modal-dialog{
  max-width: 1024px !important;
  height: 90vh !important;
  margin: 5vh auto !important;
}

