<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- Section for header -->
    <section id="subheader" class="jarallax text-light">
        <img src="images/background/14.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Incidentes</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main section with profile and form -->
    <section id="section-settings" class="bg-gray-100">
        <div class="container">
            <div class="row" style="margin-top: -50px">
                <!-- Sidebar with profile and menu -->
                <div class="col-lg-3 mb30">
                    <div class="card p-4 rounded-5">
                        <div class="profile_avatar">
                            <div class="profile_img">
                                <img src="">
                            </div>
                            <div class="profile_name">
                                <h4 *ngIf="usuario">
                                    {{ usuario.nombre }} {{ usuario.apellido }}
                                    <span class="profile_username text-gray">{{ usuario.email }}</span>
                                </h4>
                            </div>
                        </div>
                        <div class="spacer-20"></div>
                        <ul class="menu-col">
                            <li><a href="/escritorio" class="no-underline"><i class="fa fa-home"></i>Escritorio</a></li>
                            <li><a href="/editar-datos-usuario" class="no-underline"><i
                                        class="fa fa-user"></i>Perfil</a></li>
                            <li><a *ngIf="usuario.rol === 'usuario'" class="no-underline  active"><i
                                        class="fa-solid fa-circle-exclamation"></i>Incidentes</a></li>
                            <li><a (click)="cerrarSesion()" class="no-underline"><i class="fa fa-sign-out"></i>Cerrar
                                    Sesión</a></li>
                        </ul>
                    </div>
                </div>

                <!-- Form section -->
                <div class="col-lg-9">
                    <div class="card p-4 rounded-5 mb25">
                        <h4>Incidentes recientes</h4>
                        <table *ngIf="incidentes.length > 0" class="table de-table">
                            <thead>
                                <tr>
                                    <th scope="col"><span class="text-uppercase fs-12 text-gray">ID Incidente</span></th>
                                    <th scope="col"><span class="text-uppercase fs-12 text-gray">ID Alquiler</span></th>
                                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Auto</span></th>
                                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Descripcion</span></th>
                                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Fecha del Incidente</span></th>
                                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Costo del Incidente</span></th>
                                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Fecha del Pago</span></th>
                                    <th scope="col"><span class="text-uppercase fs-12 text-gray">Estado</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let incidente of incidentes">
                                    <td>
                                        <div class="badge bg-gray-100 text-dark">#{{incidente._id }}</div>
                                    </td>
                                    <td>
                                        <div class="badge bg-gray-100 text-dark">#{{incidente.idAlquiler._id}}</div>
                                    </td>
                                    <td><span class="bold">{{ incidente.idAlquiler.auto.modeloAuto?.nombreModelo}}</span></td>
                                    <td><span class="d-lg-none d-sm-block"></span>{{incidente.descripcion}}</td>
                                    <td><span class="d-lg-none d-sm-block"></span>{{incidente.fechaIncidente | date: 'dd/MM/yyyy' }}</td>
                                    <td><span class="d-lg-none d-sm-block"></span>$ {{incidente.costoIncidente | number: '1.0-0'}}</td>
                                    <td *ngIf="incidente.estadoIncidente === 'pagado'">
                                        {{ incidente.fechaPago | date: 'dd/MM/yyyy HH:mm' : '-03:00' }}
                                    </td>
                                    <td *ngIf="incidente.estadoIncidente === 'impago'">
                                        <span class="text-danger">Pendiente</span>
                                    </td>
                                    <td>
                                        <div class="badge rounded-pill" [ngClass]="{
                                                                  'bg-success': incidente.estadoIncidente === 'pagado',
                                                                  'bg-danger ': incidente.estadoIncidente === 'impago'
                                                                }">
                                            {{ incidente.estadoIncidente }}
                                        </div>
                                    </td>
                                    <td>
                                        <i *ngIf="incidente.estadoIncidente === 'impago'"
                                            (click)="abrirPagarIncidenteModal(incidente._id)" class="fas fa-solid fa-money-bill"></i>
                                    </td>     
                                </tr>
                            </tbody>
                        </table>
                        <label *ngIf="!incidentes.length">Usted no posee incidentes pendientes, muy bien 😎</label>
                    </div>
                </div>
            
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Pago de Incidente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas pagar este incidente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" (click)="confirmarPago()">Sí, pagar</button>
            </div>
        </div>
    </div>
</div>
