<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO DE MARCAS</span>
          <button class="btn btn-success float-end" routerLink="/marca-crear">NUEVA MARCA</button>

          <table *ngIf="listaMarcas.length > 0" class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre de la Marca</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let marca of listaMarcas">
                <td>{{ marca._id }}</td>
                <td>{{ marca.nombreMarca }}</td>
                <td>
                  <i class="fa-solid fa-car-side" [routerLink]="['/marca-modelos', marca._id]"
                    title="Ver Modelos"></i>
                    &nbsp;&nbsp;
                  <i class="fas fa-trash text-danger" style="cursor: pointer;" title="Eliminar"
                    (click)="marca._id ? abrirDeleteModal(marca._id) : null"></i>
                    &nbsp;&nbsp;
                  <i class="fas fa-edit text-primary" style="cursor: pointer;" title="Editar"
                    [routerLink]="['/marca-editar', marca._id]"></i>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true"
                    style="background-color: transparent;">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          ¿Estás seguro de que deseas eliminar esta Marca?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                          <button type="button" class="btn btn-danger" (click)="eliminarMarca(marcaIdToDelete)">Sí,
                            eliminar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <h5 style="text-align: start; margin-top: 10px;" *ngIf="listaMarcas.length == 0">
            No hay marcas para mostrar
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
