<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <section id="subheader" class="jarallax text-light">
        <img src="../../../images/background/2.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Listado de Modelos</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>

    <section id="section-cars">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="item_filter_group">
                        <h4 class="titulo-filtro">Categoría</h4>
                        <div *ngIf="listCategorias.length === 0">
                            <p>No hay Categorías disponibles</p>
                        </div>
                        <div *ngIf="listCategorias.length > 0">
                            <div *ngFor="let categoria of listCategorias">
                                <div class="de_form">
                                    <div class="de_radio">
                                        <input id="radio_categoria_{{ categoria._id }}" name="radio_categoria" type="radio"
                                            (click)="seleccionarCategoria(categoria._id ?? -1)"
                                            [checked]="categoriasSeleccionadas === (categoria._id ?? -1)" /> <!--  -1 evita que undefined cause problemas en la comparación -->
                                        <label for="radio_categoria_{{ categoria._id }}"> {{ categoria.nombreCategoria }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item_filter_group">
                        <h4 class="titulo-filtro">Marca</h4>
                        <div *ngIf="listMarcas.length === 0">
                            <p>No hay Marcas disponibles</p>
                        </div>
                        <div *ngIf="listMarcas.length > 0">
                            <div *ngFor="let marca of listMarcas">
                                <div class="de_form">
                                    <div class="de_checkbox">
                                        <input id="checkbox_marca_{{ marca._id }}" name="checkbox_marca" type="checkbox"
                                            (change)="checkMarca(marca._id ?? -1)"
                                            [checked]="marcasSeleccionadas.includes(marca._id ?? -1)" /> <!--  -1 evita que undefined cause problemas en la comparación -->
                                        <label for="checkbox_marca_{{ marca._id }}"> {{ marca.nombreMarca }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9" style="width: 75%">
                    <div class="row">
                        <div class="col-xl-9 no-encontrado" *ngIf="modelosDisponibles.length === 0">
                            <div class="vertical-centrado">
                                <h4>No se encontraron modelos disponibles para las fechas y sucursales seleccionadas...</h4>
                                <button class="btn-main btn-black" onclick="location.href='/buscador';">Volver atrás</button>
                            </div>
                        </div>
                        <div class="col-xl-9 no-encontrado" *ngIf="modelosDisponibles.length > 0 && modelosFiltrados.length === 0">
                            <div class="vertical-centrado">
                                <h4>¡No hay modelos coincidentes!</h4>
                                <button class="btn-main btn-black" (click)="resetFiltros()">Reiniciar filtros</button>
                            </div>
                        </div>
                        
                        <div class="col-xl-4 col-lg-6 modelo-list" *ngIf="modelosDisponibles.length > 0 && modelosFiltrados.length > 0">
                            <div class="de-item mb30 modelo-item" *ngFor="let modelo of modelosFiltrados" style="margin: 0px 8px 24px 8px;">
                                <div class="d-img">
                                    <a [href]="'/modelo/' + modelo._id"><img [src]="'http://localhost:4000' + modelo.images[0]" class="img-fluid" alt="Modelo de automóvil"></a>
                                </div>
                                <div class="d-info">
                                    <div class="d-text">
                                        <h4><a [href]="'/modelo/' + modelo._id">{{ modelo.nombreModelo }}</a></h4>
                                        <div class="d-item_like"></div>
                                        <div class="d-atr-group">
                                            <span class="d-atr"><img src="../../../images/icons/1.svg" alt="">{{ modelo.cantidadAsientos }}</span>
                                            <span class="d-atr"><img src="../../../images/icons/3.svg" alt="">{{ modelo.cantidadPuertas }}</span>
                                            <span class="d-atr"><img src="../../../images/icons/4.svg" alt="">Categoria: {{ obtenerNombreCategoria(modelo.categoriaModelo) }}</span>
                                        </div>
                                        <div class="d-price">
                                            Precio diario desde <span>${{ modelo.precioXdia }}</span>
                                            <a class="btn-main" [href]="'/modelo/' + modelo._id">Ver más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>