.modelo-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px !important
}

.modelo-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.modelo-item::marker {
  font-size: 0px;
}

.modelo-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.modelo-item p {
  font-size: 1.2em;
  color: #555;
}

.btn-main{
  margin-bottom: -5px !important;
}

/* Borrar lo de arriba una vez quede ok el listadoModelos */