
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Nebarent - Alquiler de vehículos Argentina</title>
    <link rel="icon" href="../../../images/icon.png" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- CSS Files -->
    <link href="../../../css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="../../../css/mdb.min.css" rel="stylesheet" type="text/css" id="mdb">
    <link href="../../../css/plugins.css" rel="stylesheet" type="text/css">
    <link href="../../../css/style.css" rel="stylesheet" type="text/css">
    <link href="../../../css/coloring.css" rel="stylesheet" type="text/css">
    <!-- Color Scheme -->
    <link id="colors" href="../../../css/colors/scheme-01.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">

        <!-- page preloader begin -->
        <div id="de-preloader"></div>
        <!-- page preloader close -->

        <!-- header begin -->
        <header class="transparent scroll-light has-topbar">
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+54 341 544-2171</a></div>
                            <div class="topbar-widget"><a href="#"><i
                                        class="fa fa-envelope"></i>contacto&#64;nebarent.com</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Lun - Vie 08:00 a 18:00
                                    hs</a></div>
                        </div>
                    </div>

                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="../../../index.html">
                                            <img class="logo-1" src="../../../images/logo-light.png" alt="">
                                            <img class="logo-2" src="../../../images/logo.png" alt="">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="../../../index.html">Inicio</a></li>
                                    <li><a class="menu-item" href="../../../about.html">Nosotros</a></li>
                                    <li><a class="menu-item" href="../../../listarModelos">Vehículos</a></li>
                                    <li><a class="menu-item" href="../../../account-dashboard.html">Cuenta</a></li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="../../../contact.html" class="btn-main">Contacto</a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        
        <!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>

            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="../../../images/background/2.jpg" class="jarallax-img" alt="">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1>Cars</h1>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->

            <section id="section-cars">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3" style="width: auto !important;">
                            <div class="item_filter_group">
                                <h4>Vehicle Type</h4>
                                <div class="de_form">
                                    <div class="de_checkbox">
                                        <input id="vehicle_type_1" name="vehicle_type_1" type="checkbox"
                                            value="vehicle_type_1">
                                        <label for="vehicle_type_1">Car</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="vehicle_type_2" name="vehicle_type_2" type="checkbox"
                                            value="vehicle_type_2">
                                        <label for="vehicle_type_2">Van</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="vehicle_type_3" name="vehicle_type_3" type="checkbox"
                                            value="vehicle_type_3">
                                        <label for="vehicle_type_3">Minibus</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="vehicle_type_4" name="vehicle_type_4" type="checkbox"
                                            value="vehicle_type_4">
                                        <label for="vehicle_type_4">Prestige</label>
                                    </div>

                                </div>
                            </div>

                            <div class="item_filter_group">
                                <h4>Car Body Type</h4>
                                <div class="de_form">
                                    <div class="de_checkbox">
                                        <input id="car_body_type_1" name="car_body_type_1" type="checkbox"
                                            value="car_body_type_1">
                                        <label for="car_body_type_1">Convertible</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_2" name="car_body_type_2" type="checkbox"
                                            value="car_body_type_2">
                                        <label for="car_body_type_2">Coupe</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_3" name="car_body_type_3" type="checkbox"
                                            value="car_body_type_3">
                                        <label for="car_body_type_3">Exotic Cars</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_4" name="car_body_type_4" type="checkbox"
                                            value="car_body_type_4">
                                        <label for="car_body_type_4">Hatchback</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_5" name="car_body_type_5" type="checkbox"
                                            value="car_body_type_5">
                                        <label for="car_body_type_5">Minivan</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_6" name="car_body_type_6" type="checkbox"
                                            value="car_body_type_6">
                                        <label for="car_body_type_6">Truck</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_7" name="car_body_type_7" type="checkbox"
                                            value="car_body_type_7">
                                        <label for="car_body_type_7">Sedan</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_8" name="car_body_type_8" type="checkbox"
                                            value="car_body_type_8">
                                        <label for="car_body_type_8">Sports Car</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_9" name="car_body_type_9" type="checkbox"
                                            value="car_body_type_9">
                                        <label for="car_body_type_9">Station Wagon</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_body_type_10" name="car_body_type_10" type="checkbox"
                                            value="car_body_type_10">
                                        <label for="car_body_type_10">SUV</label>
                                    </div>

                                </div>
                            </div>

                            <div class="item_filter_group">
                                <h4>Car Seats</h4>
                                <div class="de_form">
                                    <div class="de_checkbox">
                                        <input id="car_seat_1" name="car_seat_1" type="checkbox" value="car_seat_1">
                                        <label for="car_seat_1">2 seats</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_seat_2" name="car_seat_2" type="checkbox" value="car_seat_2">
                                        <label for="car_seat_2">4 seats</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_seat_3" name="car_seat_3" type="checkbox" value="car_seat_3">
                                        <label for="car_seat_3">6 seats</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_seat_4" name="car_seat_4" type="checkbox" value="car_seat_4">
                                        <label for="car_seat_4">6+ seats</label>
                                    </div>

                                </div>
                            </div>

                            <div class="item_filter_group">
                                <h4>Car Engine Capacity (cc)</h4>
                                <div class="de_form">
                                    <div class="de_checkbox">
                                        <input id="car_engine_1" name="car_engine_1" type="checkbox"
                                            value="car_engine_1">
                                        <label for="car_engine_1">1000 - 2000</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_engine_2" name="car_engine_2" type="checkbox"
                                            value="car_engine_2">
                                        <label for="car_engine_2">2000 - 4000</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_engine_3" name="car_engine_3" type="checkbox"
                                            value="car_engine_3">
                                        <label for="car_engine_3">4000 - 6000</label>
                                    </div>

                                    <div class="de_checkbox">
                                        <input id="car_engine_4" name="car_engine_4" type="checkbox"
                                            value="car_engine_4">
                                        <label for="car_engine_4">6000+</label>
                                    </div>

                                </div>
                            </div>

                            <div class="item_filter_group">
                                <h4>Price ($)</h4>
                                <div class="price-input">
                                    <div class="field">
                                        <span>Min</span>
                                        <input type="number" class="input-min" value="0">
                                    </div>
                                    <div class="field">
                                        <span>Max</span>
                                        <input type="number" class="input-max" value="2000">
                                    </div>
                                </div>
                                <div class="slider">
                                    <div class="progress"></div>
                                </div>
                                <div class="range-input">
                                    <input type="range" class="range-min" min="0" max="2000" value="0" step="1">
                                    <input type="range" class="range-max" min="0" max="2000" value="2000" step="1">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9" style="width: 75% !important;">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6" *ngIf="listModelos.length === 0">
                                    <p>No hay modelos disponibles.</p>
                                </div>
                                <div class="col-xl-4 col-lg-6" *ngIf="listModelos.length > 0" style="display: flex !important; flex-direction: row !important; flex-wrap: wrap !important; padding: 0px !important;">
                                    <div class="de-item mb30" *ngFor="let modelo of listModelos" style="width: 31.2% !important; margin: 0px 8px 24px 8px !important;">
                                        <div class="d-img">
                                            <img src="../../../images/cars/jeep-renegade.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="d-info">
                                            <div class="d-text">
                                                <h4>{{ modelo.nombreModelo }}</h4>
                                                <div class="d-item_like"></div>
                                                <div class="d-atr-group">
                                                    <span class="d-atr"><img src="../../../images/icons/1.svg" alt="">{{ modelo.cantidadAsientosModelo }}</span>
                                                    <span class="d-atr"><img src="../../../images/icons/2.svg" alt="">{{ modelo.capacidadBaulModelo }}</span>
                                                    <span class="d-atr"><img src="../../../images/icons/3.svg" alt="">{{ modelo.cantidadPuertasModelo }}</span>
                                                    <span class="d-atr"><img src="../../../images/icons/4.svg" alt="">{{ modelo.tipoModelo.tipoVehiculo }}</span>
                                                </div>
                                                <div class="d-price">
                                                    Precio diario desde <span>${{ modelo.precioModelo }}</span>
                                                    <a class="btn-main" [routerLink]="['/modelo', modelo._id]">Ver más</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>

        <!-- footer begin -->
        <footer class="text-light">
            <div class="container">
                <div class="row g-custom-x">
                    <div class="col-lg-3" style="width: 33.33% !important;">
                        <h5>Contacto</h5>
                        <div class="widget">
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>Rosario, Santa Fe, Argentina</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i>+54 341 544-2171</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i>contacto&#64;nebarent.com</span>
                                <span><i class="id-color fa fa-facebook fa-lg"></i>NebarentArgentina</span>
                                <span><i class="id-color fa fa-instagram fa-lg"></i>&#64;Nebarent</span>
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3" style="width: 33.33% !important;">
                        <h5>Enlaces</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="widget">
                                    <ul>
                                        <li><a href="../../../index.html">Inicio</a></li>
                                        <li><a href="../../../about.html">Nosotros</a></li>
                                        <li><a href="../../../listarModelos">Vehículos</a></li>
                                        <li><a href="../../../account-dashboard.html">Cuenta</a></li>
                                        <li><a href="../../../contact.html">Contacto</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6" style="width: 33.33% !important;">
                        <div class="widget">
                            <div class="owl-carousel owl-theme" id="testimonial-carousel-1-col">
                                <div class="item">
                                    <div class="de_testi type-2">
                                        <blockquote>
                                            <h4>Gran experiencia</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna
                                                aliqua.</p>
                                            <div class="de_testi_by">
                                                <span>Agustín</span>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="de_testi type-2">
                                        <blockquote>
                                            <h4>Lo mejor sin dudas</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna
                                                aliqua.</p>
                                            <div class="de_testi_by">
                                                <span>Romina</span>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="de_testi type-2">
                                        <blockquote>
                                            <h4>Súper recomendado</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna
                                                aliqua.</p>
                                            <div class="de_testi_by">
                                                <span>Miguel Ángel</span>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="de_testi type-2">
                                        <blockquote>
                                            <h4>Excelente servicio!</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="de_testi_by">
                                                <span>Roberto</span>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">Copyright © 2024 - Nebarent</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>
</body>
</html>

<!--
    <section>
        <div class="modelos-container">
            <h1>Modelos</h1>
                

            <div *ngIf="listModelos.length === 0">
                <p>No hay modelos disponibles.</p>
            </div>
                

            <ul *ngIf="listModelos.length > 0" class="modelo-list">
                <li *ngFor="let modelo of listModelos" class="modelo-item">
                    <h2>{{ modelo.nombreModelo }}</h2>
                    <p>cantAsientos: {{ modelo.cantidadAsientosModelo }}</p>
                </li>
            </ul>
        </div>
    </section>
-->