<!-- content begin -->
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="../../../images/background/2.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Detalles del Modelo</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-car-details">
        <div class="container">
            <div class="row g-6" *ngIf="modelo">
                <div class="col-lg-6">
                    <div id="slider-carousel" class="owl-carousel" style="display: block;">
                        <div class="item" *ngIf="modelo.images[0]">
                            <img [src]="'http://localhost:4000' + modelo.images[0]" alt="">
                        </div>
                        <div class="item" *ngIf="modelo.images[1]">
                            <img [src]="'http://localhost:4000' + modelo.images[1]" alt="">
                        </div>
                        <div class="item" *ngIf="modelo.images[2]">
                            <img [src]="'http://localhost:4000' + modelo.images[2]" alt="">
                        </div>
                        <div class="item" *ngIf="modelo.images[3]">
                            <img [src]="'http://localhost:4000' + modelo.images[3]" alt="">
                        </div>
                    </div>
                </div> 

                <div class="col-lg-6">
                    <div class="splitted-container" style="display: flex;">
                        <div class="col-lg-9">
                            <h3>{{ modelo.nombreModelo }}</h3>

                            <div class="categoria-marca">
                                <div>
                                    <div style="display: flex !important;">
                                        <div style="width: 130px !important;">
                                            <span class="d-value"> Categoría: </span><span class="d-value">{{ modelo.categoriaModelo.nombreCategoria
                                                }}</span>
                                        </div>
                                        <div style="width: 130px !important;">
                                            <span class="d-value"> Marca: </span><span class="d-value">{{ modelo.marcaModelo.nombreMarca }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="spacer-10"></div>

                            <p style="color: rgba(0,0,0,.5);">El precio expuesto se utiliza para calcular el precio total de alquiler.</p>
                        </div>

                        <div class="col-lg-3 de-price text-center" style="align-content: center !important; margin-left: 15px !important;">
                            Precio diario
                            <h3>${{ modelo.precioXdia }}</h3>
                        </div>
                    </div>

                    <div class="spacer-10"></div>
                    
                    <h4>Especificaciones</h4>
                    <div class="de-spec">
                        <div class="d-row">
                            <span class="d-title">Tipo de Vehículo</span>
                            <span class="d-value">{{ modelo.categoriaModelo.nombreCategoria }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Año</span>
                            <span class="d-value">{{ modelo.anio }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Color</span>
                            <span class="d-value">{{ modelo.color }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Dimensiones</span>
                            <span class="d-value">{{ modelo.dimensiones }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Cantidad de Asientos</span>
                            <span class="d-value">{{ modelo.cantidadAsientos }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Cantidad de Puertas</span>
                            <span class="d-value">{{ modelo.cantidadPuertas }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Motor</span>
                            <span class="d-value">{{ modelo.motor }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Caja de Transmisión</span>
                            <span class="d-value">{{ modelo.cajaTransmision }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Tipo de Combustible</span>
                            <span class="d-value">{{ modelo.tipoCombustible }}</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Capacidad del Tanque</span>
                            <span class="d-value">{{ modelo.capacidadTanqueCombustible }} l.</span>
                        </div>
                        <div class="d-row">
                            <span class="d-title">Capacidad del Baúl</span>
                            <span class="d-value">{{ modelo.capacidadBaul }}</span>
                        </div>
                    </div>

                    <div class="spacer-single"></div>
                </div>
                <div class="col-lg-6" *ngIf="!modelo"><p>No se encontró el modelo.</p></div>
                
                <div class="col-lg-12">
                    <div class="de-box mb25">
                        <form name="contactForm" id='contact_form' method="post">
                            <h4 style="text-align: center;">Alquilar Vehículo</h4>

                            <div class="spacer-20"></div>

                            <input type='submit' id='send_message' value='Alquilar'
                                class="btn-main btn-fullwidth">

                            <div class="clearfix"></div>

                        </form>
                    </div>

                </div>
                
            </div>
        </div>
    </section>


</div>
<!-- content close -->