<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="section-hero" aria-label="section" class="jarallax">
        <img src="images/background/subheader.jpg" class="jarallax-img" alt="">
        <div class="v-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 offset-lg-4">
                        <div class="padding40 rounded-3 shadow-soft" data-bgcolor="#ffffff">
                            <h4>Iniciar Sesión</h4>
                            <div class="spacer-10"></div>
                            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" id="form_register" class="form-border">
                                <div class="field-set mb-2">
                                    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Correo Electrónico"
                                        required />
                                        <div class="text-danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                                            <span>El Correo Electrónico <strong>es obligatorio</strong></span>
                                        </div>
                                        <div class="text-danger" *ngIf="loginForm.get('email')?.hasError('pattern') && loginForm.get('email')?.touched">
                                            <span>El Correo Electrónico <strong>tiene un formato incorrecto</strong></span>
                                        </div>
                                </div>
                                <div class="field-set mb-2 position-relative">
                                    <div class="input-wrapper">
                                    <input [type]="mostrarContrasena ? 'text' : 'password'" id="password" formControlName="password"
                                        class="form-control" placeholder="Contraseña" required  />
                                    <button type="button" (click)="toggleContrasena()" class="btn-toggle-password">
                                        <i class="fa-solid" [ngClass]="mostrarContrasena ? 'fa-eye-slash' : 'fa-eye'"></i>
                                    </button>
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                                        <span>La Contraseña <strong>es obligatoria</strong></span>
                                    </div>
                                    
                                </div>
                                <div id="submit">
                                    <button type="submit" id="send_message" class="btn-main btn-fullwidth rounded-3">
                                        Iniciar Sesión
                                    </button>
                                </div>
                                <div class="forgot-password-container">
                                    <a href="/forgot-password" class="forgot-password-link">
                                        ¿Olvidó su contraseña?
                                    </a>
                                </div>
                            </form>
                            <div class="title-line">¿&nbsp;No&nbsp;tiene&nbsp;cuenta&nbsp;?</div>
                            <div class="row g-2">
                                <div id="submit">
                                    <button (click)="navigateToRegister()" class="btn-main btn-fullwidth rounded-3">
                                        Registrarse
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content close -->