<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- Section for header -->
    <section id="subheader" class="jarallax text-light">
        <img src="images/background/14.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>¿Olvidó su contraseña?</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main section with profile and form -->
    <section id="section-settings" class="bg-gray-100">
        <div class="container">
            <div class="row" style="margin-top: -50px; justify-content: center;">
                <!-- Sidebar with profile and menu -->


                <!-- Form section -->
                <div class="col-lg-7">
                    <div class="card p-4 rounded-5">
                    <p style=" font-size: 18px;">Ingrese su correo electronico y le enviaremos un link para restablecer
                        la contraseña</p>

                        <form [formGroup]="forgotForm" (ngSubmit)="submit()">
                            <div class="col-md-12">
                                
                                <div class="field-set">
                                    <label for="email">Correo Electrónico:</label>
                                    <input id="email" type="email" formControlName="email" class="form-control"
                                        placeholder="Ingrese su correo electrónico">
                                </div>
                                <div class="text-danger"
                                    *ngIf="forgotForm.get('email')?.hasError('required') && forgotForm.get('email')?.touched">
                                    <span>El correo electrónico <strong>es obligatorio</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="forgotForm.get('email')?.hasError('email') && forgotForm.get('email')?.touched">
                                    <span>Debe ingresar un <strong>correo electrónico válido</strong></span>
                                </div>
                            </div>
                
                            <div class="spacer-10"></div>
                
                            <div id="submit">
                                <a href="/loginUsuario" class="btn-main" style="background-color: rgb(94, 94, 94);">Volver</a>
                                <button type="submit" class="btn-main color-2 w-100">
                                    Enviar Correo
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>