<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="conductorForm" (ngSubmit)="agregarConductor()">
                        <div class="mb-3">
                            <input type="text" formControlName="dniPasaporte" class="form-control form-control-lg"
                                placeholder="Nro de DNI o Pasaporte">
                            <div class="text-danger"
                                *ngIf="conductorForm.get('dniPasaporte')?.hasError('required') && conductorForm.get('dniPasaporte')?.touched">
                                <span>El DNI o Pasaporte <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="apellidoConductor" class="form-control form-control-lg"
                                placeholder="Apellido">
                            <div class="text-danger"
                                *ngIf="conductorForm.get('apellidoConductor')?.hasError('required') && conductorForm.get('apellidoConductor')?.touched">
                                <span>El Apellido <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="nombreConductor" class="form-control form-control-lg"
                                placeholder="Nombre">
                            <div class="text-danger"
                                *ngIf="conductorForm.get('nombreConductor')?.hasError('required') && conductorForm.get('nombreConductor')?.touched">
                                <span>El Nombre <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaNacimientoConductor" class="form-label">Fecha de Nacimiento</label>
                            <input type="date" formControlName="fechaNacimientoConductor"
                                class="form-control form-control-lg" id="fechaNacimientoConductor">
                            <div class="text-danger"
                                *ngIf="conductorForm.get('fechaNacimientoConductor')?.hasError('required') && conductorForm.get('fechaNacimientoConductor')?.touched">
                                <span>La fecha de Nacimiento <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="licenciaConductor" class="form-control form-control-lg"
                                placeholder="Numero de Licencia">
                            <div class="text-danger"
                                *ngIf="conductorForm.get('licenciaConductor')?.hasError('required') && conductorForm.get('licenciaConductor')?.touched">
                                <span>El Numero de Licencia <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="fechaOtorgamientoLicencia" class="form-label">Fecha de Otorgamiento de
                                Licencia</label>
                            <input type="date" formControlName="fechaOtorgamientoLicencia"
                                class="form-control form-control-lg" id="fechaOtorgamientoLicencia">
                            <div class="text-danger"
                                *ngIf="conductorForm.get('fechaOtorgamientoLicencia')?.hasError('required') && conductorForm.get('fechaOtorgamientoLicencia')?.touched">
                                <span>La fecha de Otorgamiento de Licencia <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="nroTelefonoConductor"
                                class="form-control form-control-lg" placeholder="Telefono">
                            <div class="text-danger"
                                *ngIf="conductorForm.get('nroTelefonoConductor')?.hasError('required') && conductorForm.get('nroTelefonoConductor')?.touched">
                                <span>El número de Teléfono <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="mailConductor" class="form-control form-control-lg"
                                placeholder="Email">
                            <div class="text-danger"
                                *ngIf="conductorForm.get('mailConductor')?.hasError('required') && conductorForm.get('mailConductor')?.touched">
                                <span>El Mail <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="button" routerLink="/"
                                class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="conductorForm.invalid"
                                class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>