<div class="container mt-5">
  <div class="d-flex justify-content-between mb-3">
    <button class="btn btn-secondary" routerLink="/categoria-listar">Volver</button>
  </div>
  <h3>Modelos de la Categoría {{ nombreCategoria }}</h3>
  <table class="table table-striped" *ngIf="modelos.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio por Día</th>
        <th>Año</th>
        <th>Color</th>
        <!-- Más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let modelo of modelos">
        <td>{{ modelo._id }}</td>
        <td>{{ modelo.nombreModelo }}</td>
        <td>${{ modelo.precioXdia | number: '1.0-0' }}</td>
        <td>{{ modelo.anio }}</td>
        <td>{{ modelo.color }}</td>
      </tr>
    </tbody>
  </table>
  <h5 style="text-align: start; margin-top: 10px;" *ngIf="modelos.length == 0">No hay
    Modelos para mostrar</h5>
</div>

  