#submit {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    /* el espacio entre ambos botones */
}

.btn-main {
    display: inline-block;   
}
.col-lg-7 {
    font-family: Outfit, Helvetica, Arial, sans-serif;
    font-weight: 600;
}