<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- Section for header -->
    <section id="subheader" class="jarallax text-light">
        <img src="images/background/14.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Cambiar contraseña</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main section with profile and form -->
    <section id="section-settings" class="bg-gray-100">
        <div class="container" >
            <div class="row" style="margin-top: -50px; justify-content: center;">
                <!-- Sidebar with profile and menu -->
               

                <!-- Form section -->
                <div class="col-lg-7">
                    <div class="card p-4 rounded-5">
                        <form [formGroup]="cambiarContrasenaForm" (ngSubmit)="cambiarContrasena()">
                            <div class="col-md-12">
                                <div class="field-set">
                                <label for="contrasenaActual">Contraseña Actual:</label>
                                <input type="text" id="contrasenaActual" type="password" formControlName="contrasenaActual" class="form-control" placeholder="Ingrese su contraseña actual">
                                </div>
                                <div class="text-danger"
                                    *ngIf="cambiarContrasenaForm.get('contrasenaActual')?.hasError('required') && cambiarContrasenaForm.get('contrasenaActual')?.touched">
                                    <span>La contraseña actual <strong>es obligatoria</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="cambiarContrasenaForm.get('contrasenaActual')?.hasError('pattern') && cambiarContrasenaForm.get('contrasenaActual')?.touched">
                                    <span>La contraseña actual <strong>tiene un formato incorrecto</strong></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="field-set">
                                <label for="nuevaContrasena">Nueva Contraseña:</label>
                                <input id="nuevaContrasena" type="password" formControlName="nuevaContrasena" class="form-control" placeholder="Ingrese la nueva contraseña">
                                </div>
                                <div class="text-danger"
                                    *ngIf="cambiarContrasenaForm.get('nuevaContrasena')?.hasError('required') && cambiarContrasenaForm.get('nuevaContrasena')?.touched">
                                    <span>La nueva contraseña <strong>es obligatoria</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="cambiarContrasenaForm.get('nuevaContrasena')?.hasError('pattern') && cambiarContrasenaForm.get('nuevaContrasena')?.touched">
                                    <span>La nueva contraseña <strong>tiene un formato incorrecto</strong></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="field-set">
                                <label for="confirmarContrasena">Confirmar Nueva Contraseña:</label>
                                <input id="confirmarContrasena" type="password" formControlName="confirmarContrasena" class="form-control" placeholder="Ingrese otra vez la nueva contraseña">
                                </div>
                                <div class="text-danger"
                                    *ngIf="cambiarContrasenaForm.get('confirmarContrasena')?.hasError('required') && cambiarContrasenaForm.get('confirmarContrasena')?.touched">
                                    <span>La confirmacion de la nueva contraseña <strong>es obligatoria</strong></span>
                                </div>
                                <div class="text-danger"
                                    *ngIf="cambiarContrasenaForm.get('confirmarContrasena')?.hasError('pattern') && cambiarContrasenaForm.get('confirmarContrasena')?.touched">
                                    <span>La confirmacion de la nueva contraseña <strong>tiene un formato incorrecto</strong></span>
                                </div>
                            </div>

                            <div class="spacer-10"></div>

                            <div class="col-md-12 text-center">
                                <div id="submit">
                                    <a href="/editar-datos-usuario" class="btn-main" style="background-color: rgb(94, 94, 94);">Volver</a>
                                    <button type="submit" class="btn-main color-2 w-100">
                                        Guardar
                                    </button>
                                </div>
                            </div>                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
