<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> Alta de Modelo </span>
                    <form class="mt-3" [formGroup]="modeloForm" (ngSubmit)="agregarModelo()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombreModelo" class="form-control form-control-lg"
                                placeholder="Nombre del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('nombreModelo')?.hasError('required') && modeloForm.get('nombreModelo')?.touched">
                                <span>El Nombre del Modelo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select formControlName="categoriaModelo" class="form-control form-control-lg" placeholder="Hola">
                                <option value="">Seleccione una categoria de modelo</option>
                                <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nombreCategoria }}</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="modeloForm.get('categoriaModelo')?.hasError('required') && modeloForm.get('categoriaModelo')?.touched">
                                <span>Debe seleccionar una categoria de modelo</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select formControlName="marcaModelo" class="form-control form-control-lg" placeholder="Hola">
                                <option value="">Seleccione una marca de modelo</option>
                                <option *ngFor="let marca of marcas" [value]="marca._id">{{ marca.nombreMarca }}</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="modeloForm.get('marcaModelo')?.hasError('required') && modeloForm.get('marcaModelo')?.touched">
                                <span>Debe seleccionar una marca de modelo</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="precioXdia" class="form-control form-control-lg"
                                placeholder="Precio del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('precioXdia')?.hasError('required') && modeloForm.get('precioXdia')?.touched">
                                <span>El Precio <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="anio" class="form-control form-control-lg"
                                placeholder="Año del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('anio')?.hasError('required') && modeloForm.get('anio')?.touched">
                                <span>El Año del Modelo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="color" class="form-control form-control-lg"
                                placeholder="Color del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('color')?.hasError('required') && modeloForm.get('color')?.touched">
                                <span>El Color <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="dimensiones" class="form-control form-control-lg"
                                placeholder="Dimensiones del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('dimensiones')?.hasError('required') && modeloForm.get('dimensiones')?.touched">
                                <span>Las Dimensiones <strong>son obligatorias</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="cantidadAsientos"
                                class="form-control form-control-lg" placeholder="Cantidad de Asientos">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('cantidadAsientos')?.hasError('required') && modeloForm.get('cantidadAsientos')?.touched">
                                <span>La Cantidad de Asientos <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="cantidadPuertas"
                                class="form-control form-control-lg" placeholder="Cantidad de Puertas">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('cantidadPuertas')?.hasError('required') && modeloForm.get('cantidadPuertas')?.touched">
                                <span>La Cantidad de Puertas <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="motor" class="form-control form-control-lg"
                                placeholder="Motor">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('motor')?.hasError('required') && modeloForm.get('motor')?.touched">
                                <span>El Motor <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="cajaTransmision"
                                class="form-control form-control-lg" placeholder="Caja de Transmisión">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('cajaTransmision')?.hasError('required') && modeloForm.get('cajaTransmision')?.touched">
                                <span>La Caja de Transmisión <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="tipoCombustible"
                                class="form-control form-control-lg" placeholder="Tipo de Combustible">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('tipoCombustible')?.hasError('required') && modeloForm.get('tipoCombustible')?.touched">
                                <span>El Tipo de Combustible <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="capacidadTanqueCombustible"
                                class="form-control form-control-lg"
                                placeholder="Capacidad del Tanque de Combustible (en litros)">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('capacidadTanqueCombustible')?.hasError('required') && modeloForm.get('capacidadTanqueCombustible')?.touched">
                                <span>La Capacidad del Tanque <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="capacidadBaul"
                                class="form-control form-control-lg" placeholder="Capacidad del Baúl (en litros)">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('capacidadBaul')?.hasError('required') && modeloForm.get('capacidadBaul')?.touched">
                                <span>La Capacidad del Baúl <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="button" routerLink="/"
                                class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="modeloForm.invalid"
                                class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>