<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <a routerLink="/sucursal-listar" class="btn btn-link float-start">Volver</a>
                    <h4 class="titulo">Asignar Trabajadores a la Sucursal {{ nombreSucursal }}</h4>

                    <!-- Tabla de Trabajadores Asignados -->
                    <h5 class="mt-4">Trabajadores Asignados</h5>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">ID del trabajador</th>
                                <th scope="col">Nombre y Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trabajador of trabajadoresAsignados">
                                <!-- Columna ID del trabajador -->
                                <td>{{ trabajador._id }}</td>

                                <!-- Columna Nombre y Apellido del trabajador -->
                                <td>{{ trabajador.nombre }} {{ trabajador.apellido }}</td>

                                <!-- Columna Correo del trabajador -->
                                <td>{{ trabajador.email }}</td>

                                <!-- Columna de Acción para Desasignar -->
                                <td>
                                    <button (click)="toggleAsignacion(trabajador._id, false)" class="btn btn-warning">
                                        Desasignar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Tabla de Trabajadores No Asignados -->
                    <h5 class="mt-4">Trabajadores No Asignados</h5>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">ID del trabajador</th>
                                <th scope="col">Nombre y Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trabajador of trabajadoresNoAsignados">
                                <!-- Columna ID del trabajador -->
                                <td>{{ trabajador._id }}</td>

                                <!-- Columna Nombre y Apellido del trabajador -->
                                <td>{{ trabajador.nombre }} {{ trabajador.apellido }}</td>

                                <!-- Columna Correo del trabajador -->
                                <td>{{ trabajador.email }}</td>

                                <!-- Columna de Acción para Asignar -->
                                <td>
                                    <button (click)="toggleAsignacion(trabajador._id, true)" class="btn btn-primary">
                                        Asignar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Botón para Guardar los Cambios -->
                    <button class="btn btn-success mt-3" (click)="guardarAsignaciones()">Guardar Asignaciones</button>
                </div>
            </div>
        </div>
    </div>
</div>