<header class="transparent scroll-light has-topbar">
    <div id="topbar" class="topbar-dark text-light">
        <div class="container">
            <div class="topbar-left xs-hide">
                <div class="topbar-widget">
                    <div class="topbar-widget"><a><i class="fa fa-phone"></i>+54 341 544-2171</a></div>
                    <div class="topbar-widget"><a><i class="fa fa-envelope"></i>contacto&#64;nebarent.com</a></div>
                    <div class="topbar-widget"><a><i class="fa fa-clock-o"></i>Lun - Vie 08:00 a 18:00
                            hs</a></div>
                </div>
            </div>

            <div class="topbar-right">
                <div class="social-icons">
                    <a><i class="fa fa-facebook fa-lg"></i></a>
                    <a><i class="fa fa-instagram fa-lg"></i></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container" style="padding: 5px 0px !important;">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex sm-pt10">
                    <div class="de-flex-col">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="/index.html">
                                    <img class="logo-1" src="../../../images/logo-light.png" alt="">
                                    <img class="logo-2" src="../../../images/logo.png" alt="">
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>
                    </div>
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item" href="/index.html">Inicio</a></li>
                            <li><a class="menu-item" href="/nosotros.html">Nosotros</a></li>
                            <li><a class="menu-item" href="/modelo-listar">Vehículos</a></li>
                            <li><a class="menu-item" href="/loginUsuario">Cuenta</a></li>
                        </ul>
                    </div>
                    <div class="de-flex-col">
                        <div class="menu_side_area">
                            <a href="/contacto" class="btn-main">Contacto</a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>