<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE CONDUCTORES</span>
                    <button class="btn btn-success float-end" routerLink="/crearConductor">NUEVO</button>
                    <table *ngIf="listConductores.length > 0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">DNI</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Fecha de Nacimiento</th>
                                <th scope="col">N° Licencia</th>
                                <th scope="col">Fecha de Otorgamiento</th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Mail</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conductor of listConductores">
                                <td>{{ conductor.dniPasaporte }}</td>
                                <td>{{ conductor.nombreConductor }}</td>
                                <td>{{ conductor.apellidoConductor }}</td>
                                <td>{{ formatDateToDDMMYYYY(conductor.fechaNacimientoConductor) }}</td>
                                <td>{{ conductor.licenciaConductor }}</td>
                                <td>{{ formatDateToDDMMYYYY(conductor.fechaOtorgamientoLicencia) }}</td>
                                <td>{{ conductor.nroTelefonoConductor }}</td>
                                <td>{{ conductor.mailConductor }}</td>
                                <td>
                                    <i [routerLink]="['/editarConductor', conductor._id]" class="fas fa-edit text-primary"></i>
                                    <i (click)="eliminarConductor(conductor._id)" class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listConductores.length === 0">No hay conductores para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>
