<!DOCTYPE html>
<html lang="es">
    <body>
        <div class="sidebar">
            <div class="spacer-20"></div>
            <div class="encabezado-sidebar">                
                <a href="/escritorio"><i class="fa fa-angle-left volver-atras" href="/escritorio"></i></a>
                <a href="/escritorio"><img class="logo-1" src="../../../images/logo-light.png"></a>
            </div>
            <div class="spacer-20"></div>
            <div class="divider"></div>
            <div class="spacer-20"></div>
            <div class="botones">
                <a href="/usuario-listar" class="btn-main btn-fullwidth rounded-3 mb-3"><i class="fa-solid fa-users"></i> Gestión de Usuarios</a>
                <a href="/sucursal-listar" class="btn-main btn-fullwidth rounded-3 mb-3"><i class="fa-solid fa-store"></i> Gestión de Sucursales</a>
                <a href="/auto-listar" class="btn-main btn-fullwidth rounded-3 mb-3"><i class="fa-solid fa-car-side"></i> Gestión de Autos</a>
                <a href="/modelos-listar" class="btn-main btn-fullwidth rounded-3 mb-3"><i class="fa-solid fa-car"></i> Gestión de Modelos</a>
                <a href="/marca-listar" class="btn-main btn-fullwidth rounded-3 mb-3"><i class="fa-solid fa-tags"></i> Gestión de Marcas</a>
                <a href="/categoria-listar" class="btn-main btn-fullwidth rounded-3 mb-3"><i class="fa-solid fa-table-cells"></i> Gestión de Categorias</a>
                <a href="/alquiler-listar" class="btn-main btn-fullwidth rounded-3 mb-3"><i class="fa-solid fa-key"></i> Gestión de Alquileres</a>
            </div>
        </div>

        <router-outlet></router-outlet>
    </body>
</html>