<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Sucursales - Renta de Autos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="mb-4">Lista de Sucursales</h2>
        <table class="table table-striped mt-5">
            <thead>
                <tr *ngFor="let sucursal of sucursales">
                    <th>{{ sucursal._id }}</th>
                    <th>{{ sucursal.nombreSucursal }}</th>
                    <th>{{ sucursal.telefonoSucursal }}</th>
                    <th>{{ sucursal.direccionSucursal }}</th>
                    <th>{{ sucursal.paisSucursal }}</th>
                    <th>{{ sucursal.provinciaSucursal }}</th>
                    <th>{{ sucursal.ciudadSucursal }}</th>
                    <th>{{ sucursal.horaAperturaSucursal }}</th>
                    <th>{{ sucursal.horaCierreSucursal }}</th>
                    <th>{{ sucursal.trabajadores }}</th>
                    <th>{{ sucursal.autos }}</th>
                </tr>
            </thead>
            <tbody id="sucursalesTableBody">
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/listar-sucursales.js"></script>
</body>

</html>