<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <a routerLink="/tareas-admin" class="btn btn-link float-start">Volver</a>
                    <span class="titulo">LISTADO DE TODAS LAS SUCURSALES</span>
                    <button class="btn btn-success float-end" routerLink="/sucursal-crear">NUEVA SUCURSAL</button>
                    <table *ngIf="listaSucursales.length > 0" class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Nombre Sucursal</th>
                                <th scope="col">Teléfono</th>
                                <th scope="col">Dirección</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">País</th>
                                <th scope="col">Hora Apertura</th>
                                <th scope="col">Hora Cierre</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sucursal of listaSucursales">
                                <td>{{ sucursal.nombreSucursal }}</td>
                                <td>{{ sucursal.telefonoSucursal }}</td>
                                <td>{{ sucursal.direccionSucursal }}</td>
                                <td>{{ sucursal.ciudadSucursal }}</td>
                                <td>{{ sucursal.provinciaSucursal }}</td>
                                <td>{{ sucursal.paisSucursal }}</td>
                                <td>{{ sucursal.horaAperturaSucursal }}</td>
                                <td>{{ sucursal.horaCierreSucursal }}</td>
                                <td>
                                    <i [routerLink]="['/sucursal-editar', sucursal._id]"
                                        class="fas fa-edit text-primary"></i>
                                    <i (click)="deleteSucursal(sucursal._id)"
                                        class="fas fa-trash text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listaSucursales.length == 0">No hay
                        sucursales para mostrar</h5>
                </div>
            </div>
        </div>
    </div>
</div>