select#selectSucursalRetiro, select#selectSucursalDevolucion{
  width: 100%; 
  height: 33px;
  border-radius: 5px;
}

select, section input[type="date"]{
  padding: 0 10px;
  font-size: 16px;
}

section input[type="date"]{
  width: 67%;
  height: 33px;
}

select option {
  color: black !important;
  background-color: white !important;
}

@media (max-width: 768px){
  .jarallax {
    height: 400px !important;
  }
  .jarallax .container{
    padding-top: 80px !important;
  }
  .jarallax .container h1{
    font-size: 32px !important;
    text-align: center !important;
  }
}