<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="modeloForm" (ngSubmit)="agregarModelo()">
                        <div class="mb-3">
                            <label for="nombreModelo" class="form-label">Nombre del Modelo:</label>
                            <input type="text" formControlName="nombreModelo" class="form-control form-control-lg"
                                placeholder="Nombre del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('nombreModelo')?.hasError('required') && modeloForm.get('nombreModelo')?.touched">
                                <span>El Nombre del Modelo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="categoriaModelo" class="form-label">Categoria:</label>
                            <select formControlName="categoriaModelo" class="form-control form-control-lg" placeholder="Hola">
                                <option value="">Seleccione una categoria de modelo</option>
                                <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nombreCategoria }}</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="modeloForm.get('categoriaModelo')?.hasError('required') && modeloForm.get('categoriaModelo')?.touched">
                                <span>Debe seleccionar una categoria de modelo</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="marcaModelo" class="form-label">Marca:</label>
                            <select formControlName="marcaModelo" class="form-control form-control-lg" placeholder="Hola">
                                <option value="">Seleccione una marca de modelo</option>
                                <option *ngFor="let marca of marcas" [value]="marca._id">{{ marca.nombreMarca }}</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="modeloForm.get('marcaModelo')?.hasError('required') && modeloForm.get('marcaModelo')?.touched">
                                <span>Debe seleccionar una marca de modelo</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="precioXdia" class="form-label">Precio del Modelo:</label>
                            <input type="number" formControlName="precioXdia" class="form-control form-control-lg"
                                placeholder="Precio del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('precioXdia')?.hasError('required') && modeloForm.get('precioXdia')?.touched">
                                <span>El Precio <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="anio" class="form-label">Año del Modelo:</label>
                            <input type="number" formControlName="anio" class="form-control form-control-lg"
                                placeholder="Año del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('anio')?.hasError('required') && modeloForm.get('anio')?.touched">
                                <span>El Año del Modelo <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="color" class="form-label">Color del Modelo:</label>
                            <input type="text" formControlName="color" class="form-control form-control-lg"
                                placeholder="Color del Modelo">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('color')?.hasError('required') && modeloForm.get('color')?.touched">
                                <span>El Color <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="dimensiones" class="form-label">Dimensiones (Ancho x largo x alto):</label>
                            <input type="text" formControlName="dimensiones" class="form-control form-control-lg"
                                placeholder="Ej: 4x2x2">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('dimensiones')?.hasError('required') && modeloForm.get('dimensiones')?.touched">
                                <span>Las Dimensiones <strong>son obligatorias</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="cantidadAsientos" class="form-label">Cantidad de Asientos:</label>
                            <input type="number" formControlName="cantidadAsientos"
                                class="form-control form-control-lg" placeholder="Cantidad de Asientos">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('cantidadAsientos')?.hasError('required') && modeloForm.get('cantidadAsientos')?.touched">
                                <span>La Cantidad de Asientos <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="cantidadPuertas" class="form-label">Cantidad de Puertas:</label>
                            <input type="number" formControlName="cantidadPuertas"
                                class="form-control form-control-lg" placeholder="Cantidad de Puertas">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('cantidadPuertas')?.hasError('required') && modeloForm.get('cantidadPuertas')?.touched">
                                <span>La Cantidad de Puertas <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="motor" class="form-label">Cilindrada del motor:</label>
                            <input type="text" formControlName="motor" class="form-control form-control-lg"
                                placeholder="Ej: 1.2">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('motor')?.hasError('required') && modeloForm.get('motor')?.touched">
                                <span>El Motor <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="cajaTransmision" class="form-label">Transmision:</label>
                            <input type="text" formControlName="cajaTransmision"
                                class="form-control form-control-lg" placeholder="Caja de Transmisión">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('cajaTransmision')?.hasError('required') && modeloForm.get('cajaTransmision')?.touched">
                                <span>La Caja de Transmisión <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="tipoCombustible" class="form-label">Tipo de Combustible:</label>
                            <input type="text" formControlName="tipoCombustible"
                                class="form-control form-control-lg" placeholder="Tipo de Combustible">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('tipoCombustible')?.hasError('required') && modeloForm.get('tipoCombustible')?.touched">
                                <span>El Tipo de Combustible <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="capacidadTanqueCombustible" class="form-label">Capacidad del Tanque de Combustible (en litros):</label>
                            <input type="number" formControlName="capacidadTanqueCombustible"
                                class="form-control form-control-lg"
                                placeholder="Ej: 45">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('capacidadTanqueCombustible')?.hasError('required') && modeloForm.get('capacidadTanqueCombustible')?.touched">
                                <span>La Capacidad del Tanque <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="capacidadBaul" class="form-label">Capacidad del Baúl (en litros):</label>
                            <input type="number" formControlName="capacidadBaul"
                                class="form-control form-control-lg" placeholder="Ej: 400">
                            <div class="text-danger"
                                *ngIf="modeloForm.get('capacidadBaul')?.hasError('required') && modeloForm.get('capacidadBaul')?.touched">
                                <span>La Capacidad del Baúl <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <!-- Input para cargar nuevas imágenes -->
                            <label class="form-label">Cargar nuevas imágenes:</label>
                            <input type="file" (change)="onFileSelected($event)" class="form-control" multiple>
                        
                            <!-- Validación de carga de imágenes -->
                            <div class="text-danger" *ngIf="selectedFiles.length === 0 && existingImages.length === 0 && modeloForm.touched">
                                <span>Debes cargar al menos una imagen</span>
                            </div>
                        </div>
                        
                        <!-- Vista previa de imágenes existentes (solo en modo de edición) -->
                        <div *ngIf="existingImages.length > 0" class="mb-3">
                            <label class="form-label">Imágenes actuales:</label>
                            <div *ngFor="let img of existingImages; let i = index" class="mb-2">
                                <span>Posición: {{ i }}</span>
                                <img [src]="'http://localhost:4000' + img" alt="Imagen actual" style="max-width: 100px; max-height: 100px;">
                            </div>
                        </div>
                        <div *ngFor="let file of selectedFiles; let i = index">
                            <img [src]="file" alt="imagen {{ i }}" />
                        </div>

                        <div class="mb-3">
                            <button routerLink="/modelos-listar" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" (click)="submitForm()" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>