<!-- content begin -->
        <div class="no-bottom no-top zebra" id="content">
            <div id="top"></div>
            
            <!-- section begin -->
            <section id="subheader" class="jarallax text-light">
                <img src="images/background/14.jpg" class="jarallax-img" alt="">
                    <div class="center-y relative text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
									<h1>Bienvenido, {{ usuario.rol }}</h1>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <!-- section close -->

            <section id="section-cars" class="bg-gray-100">
                <div class="container" style="margin-top: -50px">
                    <div class="row">
                        <div class="col-lg-3 mb30">
                            <div class="card p-4 rounded-5">
                                <div class="profile_avatar">
                                    <div class="profile_img">
                                        <img src="">
                                    </div>
                                    <div class="profile_name">
                                        <h4>
                                            {{ usuario.nombre }} {{ usuario.apellido }}
                                            <span class="profile_username text-gray">{{ usuario.email }}</span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="spacer-20"></div>
                                <ul class="menu-col">
                                    <li><a href="/tareas-admin" class="no-underline active"><i class="fa fa-home"></i>Escritorio</a></li>
                                    <li><a (click)="editarMisDatos()"class="no-underline"><i class="fa fa-user "></i>Perfil</a></li>
                                    <li><a (click)="cerrarSesion()" class="no-underline"><i class="fa fa-sign-out"></i>Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="card p-4 rounded-5 mb25">
                                
                                <a (click)="irAGestionarUsuarios()" class="btn-main btn-fullwidth rounded-3 mb-3">
                                    <i class="fa-solid fa-users"></i> Gestión de Usuarios
                                </a>
                                
                                
                                <a (click)="irAGestionarSucursales()" class="btn-main rounded-3">
                                    <i class="fa-solid fa-store"></i> Gestión de Sucursales
                                </a>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </section>
			
			
        </div>
        <!-- content close -->
