<footer class="text-light">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-3">
                <h5>Contacto</h5>
                <div class="widget">
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>Rosario, Santa Fe, Argentina</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+54 341 544-2171</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i>contacto&#64;nebarent.com</span>
                        <span><i class="id-color fa fa-facebook fa-lg"></i>NebarentArgentina</span>
                        <span><i class="id-color fa fa-instagram fa-lg"></i>&#64;Nebarent</span>
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
                <h5>Enlaces</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <ul class="listado-enlaces">
                                <li><a href="index.html">Inicio</a></li>
                                <li><a href="nosotros.html">Nosotros</a></li>
                                <li><a href="/modelo-listar">Vehículos</a></li>
                                <li><a href="/loginUsuario">Cuenta</a></li>
                                <li><a href="/contacto">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="widget">
                    <div class="owl-carousel owl-theme" id="testimonial-carousel-1-col">
                        <div class="item">
                            <div class="de_testi type-2">
                                <blockquote>
                                    <h4>Gran experiencia</h4>
                                    <p>Alquilé un auto para un viaje de última hora y todo fue perfecto, desde la
                                        reserva hasta la entrega. Sin duda, mi opción
                                        número uno.</p>
                                    <div class="de_testi_by">
                                        <span>Agustín</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi type-2">
                                <blockquote>
                                    <h4>Lo mejor sin dudas</h4>
                                    <p>Me ayudaron a encontrar el auto adecuado para mi presupuesto y necesidades. La
                                        experiencia fue super fluida y
                                        profesional.</p>
                                    <div class="de_testi_by">
                                        <span>Romina</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi type-2">
                                <blockquote>
                                    <h4>Súper recomendado</h4>
                                    <p>Todo fue de acuerdo a lo que esperaba, buena atención en las sucursales y buenos
                                        autos para elegir.</p>
                                    <div class="de_testi_by">
                                        <span>Miguel Ángel</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="de_testi type-2">
                                <blockquote>
                                    <h4>Excelente servicio!</h4>
                                    <p>El equipo realmente se preocupa por que tengas una buena experiencia. Lo
                                        recomiendo!/p>
                                    <div class="de_testi_by">
                                        <span>Roberto</span>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">Copyright © 2024 - Nebarent</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>