<div class="container mt-5">
    <h3>Modelos de la Marca {{ marcaId }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio por Día</th>
          <th>Año</th>
          <th>Color</th>
          <!-- Más columnas según tus necesidades -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modelo of modelos">
          <td>{{ modelo._id }}</td>
          <td>{{ modelo.nombreModelo }}</td>
          <td>{{ modelo.precioXdia }}</td>
          <td>{{ modelo.anio }}</td>
          <td>{{ modelo.color }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  