.no-underline {
    text-decoration: none;
    cursor: pointer;
}

.btn-main{
    text-decoration: none;
    cursor: pointer;
}
.btn-main i{
   margin-right: 2px;
}

.row.d-flex {
    flex-wrap: nowrap;
}

#doblegestion {
    text-align: center;
    display: flex;
    justify-content: space-between ;
    gap: 10px;
}

.bg-success {
    background-color: #00b74a !important;
    /* Cambia a tu color preferido */
}

.btn-main:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: none !important;
    transition: .3s ease !important;
}


@media (min-width: 968px) and (max-width: 1450px){
    .menos-offset {
        margin-left: 2% !important;
    }
}
@media (max-width: 968px) {
    .menos-offset {
        margin-left: auto !important;
    }
    .row.d-flex {
        flex-wrap: wrap;
    }
}

.fas {
    cursor: pointer;
    margin-left: 7px;
    color: #a50000;
}