.fa-solid {
    cursor: pointer;
    margin-left: 7px;
}

.titulo {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}


.estado-disponible {
    color: green;
}
.estado-reservado {
    color: orange;
}
.estado-alquilado {
    color: red;
}
.estado-mantenimiento {
    color: violet;
}