<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <div class="no-bottom no-top" id="content">
    <div id="top"></div>
    <section id="section-hero" class="jarallax text-light pt50 pb50 vertical-center" aria-label="section">
        <img src="images/background/11.jpg" class="jarallax-img" style="filter: brightness(0.5);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h1>Epa, te confundiste.</h1>
                    <p>Parece que algo anda mal, puede que la dirección ingresada sea errónea o directamente no exista.</p>
                    <a href="index.html" class="btn-main">Volver al Inicio</a>
                    <div class="spacer-10"></div>
                </div>
                <div class="col-lg-6 text-center">
                    <h1 class="s2">
                        <span class="c1">404</span>
                        <span class="spacer-single"></span>
                        <span class="c3">Página no encontrara</span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
