<!DOCTYPE html>
<html lang="es">

<head>
    <link href="../../../css/style.css" rel="stylesheet" type="text/css">
    <link id="colors" href="../../../css/colors/scheme-01.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">

        <!-- page preloader begin -->
        <div id="de-preloader"></div>
        <!-- page preloader close -->

        <!-- header begin -->
        <header class="transparent scroll-light has-topbar">
            <div id="topbar" class="topbar-dark text-light">
                <div class="container">
                    <div class="topbar-left xs-hide">
                        <div class="topbar-widget">
                            <div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+54 341 544-2171</a></div>
                            <div class="topbar-widget"><a href="#"><i
                                        class="fa fa-envelope"></i>contacto&#64;nebarent.com</a></div>
                            <div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Lun - Vie 08:00 a 18:00
                                    hs</a></div>
                        </div>
                    </div>

                    <div class="topbar-right">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="container" style="padding: 5px 0px !important;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="../../../index.html">
                                            <img class="logo-1" src="../../../images/logo-light.png" alt="">
                                            <img class="logo-2" src="../../../images/logo.png" alt="">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    <li><a class="menu-item" href="../../../index.html">Inicio</a></li>
                                    <li><a class="menu-item" href="../../../nosotros.html">Nosotros</a></li>
                                    <li><a class="menu-item" href="../../../buscador">Vehículos</a></li>
                                    <li><a class="menu-item" href="/loginUsuario">Cuenta</a></li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="/contacto" class="btn-main">Contacto</a>
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        
        <!-- content begin -->
        <router-outlet></router-outlet>
        <!-- content close -->

        <a href="#" id="back-to-top"></a>

        <!-- footer begin -->
        <footer class="text-light">
            <div class="container">
                <div class="row g-custom-x">
                    <div class="col-lg-3">
                        <h5>Contacto</h5>
                        <div class="widget">
                            <address class="s1">
                                <span><i class="id-color fa fa-map-marker fa-lg"></i>Rosario, Santa Fe, Argentina</span>
                                <span><i class="id-color fa fa-phone fa-lg"></i>+54 341 544-2171</span>
                                <span><i class="id-color fa fa-envelope-o fa-lg"></i>contacto&#64;nebarent.com</span>
                                <span><i class="id-color fa fa-facebook fa-lg"></i>NebarentArgentina</span>
                                <span><i class="id-color fa fa-instagram fa-lg"></i>&#64;Nebarent</span>
                            </address>
                        </div>
                    </div>
        
                    <div class="col-lg-3">
                        <h5>Enlaces</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="widget">
                                    <ul class="listado-enlaces">
                                        <li><a href="index.html">Inicio</a></li>
                                        <li><a href="nosotros.html">Nosotros</a></li>
                                        <li><a href="/buscador">Vehículos</a></li>
                                        <li><a href="account-dashboard.html">Cuenta</a></li>
                                        <li><a href="contact.html">Contacto</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-6">
                        <div class="widget">
                            <div class="owl-carousel owl-theme" id="testimonial-carousel-1-col">
                                <div class="item">
                                    <div class="de_testi type-2">
                                        <blockquote>
                                            <h4>Gran experiencia</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna
                                                aliqua.</p>
                                            <div class="de_testi_by">
                                                <span>Agustín</span>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="de_testi type-2">
                                        <blockquote>
                                            <h4>Lo mejor sin dudas</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna
                                                aliqua.</p>
                                            <div class="de_testi_by">
                                                <span>Romina</span>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="de_testi type-2">
                                        <blockquote>
                                            <h4>Súper recomendado</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna
                                                aliqua.</p>
                                            <div class="de_testi_by">
                                                <span>Miguel Ángel</span>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="de_testi type-2">
                                        <blockquote>
                                            <h4>Excelente servicio!</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua.</p>
                                            <div class="de_testi_by">
                                                <span>Roberto</span>
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subfooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de-flex">
                                <div class="de-flex-col">Copyright © 2024 - Nebarent</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>
        
    <!-- Javascript Files -->
    <script src="../../../js/plugins.js"></script>
    <script src="../../../js/designesia.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

</body>
</html>